{% extends "layout-post.html" %}
{% load static %}
{% block content %}

<div class="single-post">
    <div class="feature-img">
        <img class="img-fluid"
            src="home/assets/img/article/3b87b8db-9f11-40f8-95bf-c252b208333d.jpg" alt=""
            style="min-width: 100%;">
    </div>
    <div class="blog_details">
        <h2>Barca tìm nhà tài trợ trả lương cho Messi</h2>
        <ul class="blog-info-link mt-3 mb-4">
            <li><a href="#"><i class="fa fa-user"></i> Admin</a></li>
            <li><a href="#"><i class="fa fa-calendar"></i> Apr 06, 2023</a></li>
        </ul>
        <p>Barca đang t&igrave;m kiếm một số đối t&aacute;c t&agrave;i trợ để hậu thuẫn cho
            thương vụ đưa ng&ocirc;i sao Lionel Messi trở lại Camp Nou h&egrave; 2023.</p>
        <p>Theo k&ecirc;nh ph&aacute;t thanh Catalonia RAC 1, Barca đang l&agrave;m việc với
            c&aacute;c nh&agrave; t&agrave;i trợ quan trọng để k&yacute; hợp đồng với Messi
            m&agrave; kh&ocirc;ng vi phạm Luật C&ocirc;ng bằng T&agrave;i ch&iacute;nh (FFP)</p>
        <p>C&aacute;c nh&agrave; đầu tư n&agrave;y c&oacute; thể đ&agrave;i thọ phần lớn chi
            ph&iacute; tiền lương để Barca tuyển mộ Messi. Đổi lại, họ sẽ được cam kết chia sẻ
            lợi nhuận từ c&aacute;c hoạt động thương mại m&agrave; ng&ocirc;i sao Argentina tạo
            ra nếu trở lại CLB xứ Catalonia. Barca sẽ kh&ocirc;ng mất ph&iacute; chuyển nhượng
            trong thương vụ n&agrave;y, v&igrave; Messi sẽ hết hợp đồng với PSG cuối
            th&aacute;ng 6.</p>
        <p>Theo tờ Diario Sport, Barca tự tin c&oacute; thể đạt thỏa thuận ph&ugrave; hợp với
            c&aacute;c b&ecirc;n li&ecirc;n quan, v&agrave; cả CLB xứ Catalonia lẫn Messi đều
            rất lạc quan về khả năng t&aacute;i hợp khi m&ugrave;a giải 2022-2023 kh&eacute;p
            lại.</p>
        <p>Barca đang t&igrave;m kiếm một số đối t&aacute;c t&agrave;i trợ để hậu thuẫn cho
            thương vụ đưa ng&ocirc;i sao Lionel Messi trở lại Camp Nou h&egrave; 2023.</p>
        <p>Theo k&ecirc;nh ph&aacute;t thanh Catalonia RAC 1, Barca đang l&agrave;m việc với
            c&aacute;c nh&agrave; t&agrave;i trợ quan trọng để k&yacute; hợp đồng với Messi
            m&agrave; kh&ocirc;ng vi phạm Luật C&ocirc;ng bằng T&agrave;i ch&iacute;nh (FFP)</p>
        <p>C&aacute;c nh&agrave; đầu tư n&agrave;y c&oacute; thể đ&agrave;i thọ phần lớn chi
            ph&iacute; tiền lương để Barca tuyển mộ Messi. Đổi lại, họ sẽ được cam kết chia sẻ
            lợi nhuận từ c&aacute;c hoạt động thương mại m&agrave; ng&ocirc;i sao Argentina tạo
            ra nếu trở lại CLB xứ Catalonia. Barca sẽ kh&ocirc;ng mất ph&iacute; chuyển nhượng
            trong thương vụ n&agrave;y, v&igrave; Messi sẽ hết hợp đồng với PSG cuối
            th&aacute;ng 6.</p>
        <p>Theo tờ Diario Sport, Barca tự tin c&oacute; thể đạt thỏa thuận ph&ugrave; hợp với
            c&aacute;c b&ecirc;n li&ecirc;n quan, v&agrave; cả CLB xứ Catalonia lẫn Messi đều
            rất lạc quan về khả năng t&aacute;i hợp khi m&ugrave;a giải 2022-2023 kh&eacute;p
            lại.</p>
        <p>Barca đang t&igrave;m kiếm một số đối t&aacute;c t&agrave;i trợ để hậu thuẫn cho
            thương vụ đưa ng&ocirc;i sao Lionel Messi trở lại Camp Nou h&egrave; 2023.</p>
        <p>Theo k&ecirc;nh ph&aacute;t thanh Catalonia RAC 1, Barca đang l&agrave;m việc với
            c&aacute;c nh&agrave; t&agrave;i trợ quan trọng để k&yacute; hợp đồng với Messi
            m&agrave; kh&ocirc;ng vi phạm Luật C&ocirc;ng bằng T&agrave;i ch&iacute;nh (FFP)</p>
        <p>C&aacute;c nh&agrave; đầu tư n&agrave;y c&oacute; thể đ&agrave;i thọ phần lớn chi
            ph&iacute; tiền lương để Barca tuyển mộ Messi. Đổi lại, họ sẽ được cam kết chia sẻ
            lợi nhuận từ c&aacute;c hoạt động thương mại m&agrave; ng&ocirc;i sao Argentina tạo
            ra nếu trở lại CLB xứ Catalonia. Barca sẽ kh&ocirc;ng mất ph&iacute; chuyển nhượng
            trong thương vụ n&agrave;y, v&igrave; Messi sẽ hết hợp đồng với PSG cuối
            th&aacute;ng 6.</p>
        <p>Theo tờ Diario Sport, Barca tự tin c&oacute; thể đạt thỏa thuận ph&ugrave; hợp với
            c&aacute;c b&ecirc;n li&ecirc;n quan, v&agrave; cả CLB xứ Catalonia lẫn Messi đều
            rất lạc quan về khả năng t&aacute;i hợp khi m&ugrave;a giải 2022-2023 kh&eacute;p
            lại.</p>
        <p>Barca đang t&igrave;m kiếm một số đối t&aacute;c t&agrave;i trợ để hậu thuẫn cho
            thương vụ đưa ng&ocirc;i sao Lionel Messi trở lại Camp Nou h&egrave; 2023.</p>
        <p>Theo k&ecirc;nh ph&aacute;t thanh Catalonia RAC 1, Barca đang l&agrave;m việc với
            c&aacute;c nh&agrave; t&agrave;i trợ quan trọng để k&yacute; hợp đồng với Messi
            m&agrave; kh&ocirc;ng vi phạm Luật C&ocirc;ng bằng T&agrave;i ch&iacute;nh (FFP)</p>
        <p>C&aacute;c nh&agrave; đầu tư n&agrave;y c&oacute; thể đ&agrave;i thọ phần lớn chi
            ph&iacute; tiền lương để Barca tuyển mộ Messi. Đổi lại, họ sẽ được cam kết chia sẻ
            lợi nhuận từ c&aacute;c hoạt động thương mại m&agrave; ng&ocirc;i sao Argentina tạo
            ra nếu trở lại CLB xứ Catalonia. Barca sẽ kh&ocirc;ng mất ph&iacute; chuyển nhượng
            trong thương vụ n&agrave;y, v&igrave; Messi sẽ hết hợp đồng với PSG cuối
            th&aacute;ng 6.</p>
        <p>Theo tờ Diario Sport, Barca tự tin c&oacute; thể đạt thỏa thuận ph&ugrave; hợp với
            c&aacute;c b&ecirc;n li&ecirc;n quan, v&agrave; cả CLB xứ Catalonia lẫn Messi đều
            rất lạc quan về khả năng t&aacute;i hợp khi m&ugrave;a giải 2022-2023 kh&eacute;p
            lại.</p>
    </div>
</div>
<div class="navigation-top">
    <div class="d-sm-flex justify-content-between text-center">
        <div class="col-sm-4 text-center my-2 my-sm-0">
            <!-- <p class="comment-count"><span class="align-middle"><i class="fa fa-comment"></i></span> 06 Comments</p> -->
        </div>
        <ul class="social-icons">
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
            <li><a href="#"><i class="fab fa-behance"></i></a></li>
        </ul>
    </div>

    <div class="related-posts">
        <h3 class="related-posts-title">Bài Viết Liên Quan</h3>
        <div class="d-flex flex-wrap">

            <div class="post-item col-6">
                <img src="home/assets/img/article/ecc32ad5-8b96-4b4d-b3eb-4a3a8acf9341.jpg"
                    alt="post" style="width: 30%;">
                <div class="post-body">
                    <a href="/benzema-lap-hat-trick-giup-real-dai-thang-barca-a9.html">
                        <h4>Benzema lập hat-trick giúp Real đại thắng Barca</h4>
                    </a>
                    <p></p>
                </div>
            </div>

            <div class="post-item col-6">
                <img src="home/assets/img/article/12880def-36c0-43a5-9fa4-ebad998ae9fb.jpg"
                    alt="post" style="width: 30%;">
                <div class="post-body">
                    <a href="/tottenham-day-man-utd-khoi-top-4-a10.html">
                        <h4>Tottenham đẩy Man Utd khỏi top 4</h4>
                    </a>
                    <p></p>
                </div>
            </div>

            <div class="post-item col-6">
                <img src="home/assets/img/article/fa828ded-9118-4327-abee-a77981d8819b.jpg"
                    alt="post" style="width: 30%;">
                <div class="post-body">
                    <a href="/ronaldo-lap-cu-dup-tran-thu-ba-lien-tiep-a11.html">
                        <h4>Ronaldo lập cú đúp trận thứ ba liên tiếp</h4>
                    </a>
                    <p></p>
                </div>
            </div>

            <div class="post-item col-6">
                <img src="home/assets/img/article/dba0d5e1-8b8b-4fc4-9284-6d2f5c20648e.jpg"
                    alt="post" style="width: 30%;">
                <div class="post-body">
                    <a href="/hlv-troussier-khong-bat-ngo-ve-ket-qua-boc-tham-a12.html">
                        <h4>HLV Troussier không bất ngờ về kết quả bốc thăm</h4>
                    </a>
                    <p></p>
                </div>
            </div>

            <div class="post-item col-6">
                <img src="home/assets/img/article/d41a1080-6298-4ce2-8cad-2aa6d365e64a.png"
                    alt="post" style="width: 30%;">
                <div class="post-body">
                    <a href="/quang-liem-tai-dau-carlsen-o-champions-chess-tour-a14.html">
                        <h4>Quang Liêm tái đấu Carlsen ở Champions Chess Tour</h4>
                    </a>
                    <p></p>
                </div>
            </div>

            <div class="post-item col-6">
                <img src="home/assets/img/article/5f147ede-afad-4461-a66f-4d7ba9b55cc5.png"
                    alt="post" style="width: 30%;">
                <div class="post-body">
                    <a href="/man-utd-tro-lai-top-4-a15.html">
                        <h4>Man Utd trở lại Top 4</h4>
                    </a>
                    <p></p>
                </div>
            </div>

        </div>
    </div>

</div>
<div class="blog-author">
    <div class="media align-items-center">
        <img src="home/assets/img/article/author.png" alt="">
        <div class="media-body">
            <a href="#">
                <h4>ZendVN</h4>
            </a>
            <p>Với các khóa học lập trình Online, Offline, Online 1 kèm 1, ZendVN đảm bảo cung
                cấp đầy đủ kiến thức cho các bạn học viên để tự tin đi làm</p>
        </div>
    </div>
</div>

{% endblock %}