{% extends "layout-sidebar.html" %}
{% load static %}
{% block content %}

<div class="whats-news-wrapper">
    <!-- Heading & Nav Button -->
    <div class="row justify-content-between align-items-end mb-15">
        <div class="col-12">
            <div class="section-tittle mb-30 ml-10">
                <h3>Kết quả cho từ khóa: a</h3>
            </div>
        </div>
    </div>
    <!-- Tab content -->
    <div class="row">
        <div class="col-12">
            <!-- Nav Card -->
            <div class="tab-content" id="nav-tabContent">
                <!-- card one -->
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                    aria-labelledby="nav-home-tab">
                    <div class="row">


                        <div class="col-xl-6 col-lg-6 col-md-6">
                            <div class="whats-news-single mb-40 mb-40">
                                <div class="whates-img" style="height: 200px;">
                                    <img src="home/assets/img/article/6486ea94-8f4e-4d74-8cc4-9f9dfe5f227a.jpg"
                                        alt="" style="height: 100%; object-fit: cover;">
                                </div>
                                <div class="whates-caption whates-caption2">

                                    <h4><a
                                            href="/toa-nha-go-10-tang-co-the-chiu-dong-dat-a34.html">Tò<span
                                                class="highlight">a</span> nhà gỗ 10 tầng có thể
                                            chịu động đất</a></h4>
                                    <span>by Admin - Apr 10, 2023</span>
                                    <p>
                                    <p>Trong gần hai thập kỷ, Đại học California San Diego sở
                                        hữu một c&ocirc;ng cụ quan trọng để hiểu r&otilde; động
                                        đất. Đ&oacute; l&agrave; gi&agrave;…</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-6 col-lg-6 col-md-6">
                            <div class="whats-news-single mb-40 mb-40">
                                <div class="whates-img" style="height: 200px;">
                                    <img src="home/assets/img/article/af131eb3-b133-4944-b333-6b4e841ddd17.jpg"
                                        alt="" style="height: 100%; object-fit: cover;">
                                </div>
                                <div class="whates-caption whates-caption2">

                                    <h4><a
                                            href="/nui-co-the-moc-cao-toi-dau-tren-trai-dat-a33.html">Núi
                                            có thể mọc c<span class="highlight">a</span>o tới
                                            đâu trên Trái Đất?</a></h4>
                                    <span>by Admin - Apr 10, 2023</span>
                                    <p>
                                    <p>C&aacute;ch đ&acirc;y 60 triệu năm, khi mảng kiến tạo
                                        &Aacute; &Acirc;u đ&acirc;m v&agrave;o mảng kiến tạo Ấn
                                        Độ, một d&atilde;y n&uacute;i h&igra…</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-6 col-lg-6 col-md-6">
                            <div class="whats-news-single mb-40 mb-40">
                                <div class="whates-img" style="height: 200px;">
                                    <img src="home/assets/img/article/595c35ad-dd85-4d8c-9939-2ed7098053b1.jpg"
                                        alt="" style="height: 100%; object-fit: cover;">
                                </div>
                                <div class="whates-caption whates-caption2">

                                    <h4><a
                                            href="/ca-voi-khong-lo-lien-tuc-chet-dat-vao-dao-bali-a32.html">Cá
                                            voi khổng lồ liên tục chết dạt vào đảo B<span
                                                class="highlight">a</span>li</a></h4>
                                    <span>by Admin - Apr 10, 2023</span>
                                    <p>
                                    <p>Chỉ trong hơn một tuần, x&aacute;c của ba con c&aacute;
                                        voi đ&atilde; được t&igrave;m thấy chết tr&ecirc;n
                                        c&aacute;c b&atilde;i biển ở Bali, giới…</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-6 col-lg-6 col-md-6">
                            <div class="whats-news-single mb-40 mb-40">
                                <div class="whates-img" style="height: 200px;">
                                    <img src="home/assets/img/article/238b870f-be88-4d61-8c0a-a42a31b98e9e.jpg"
                                        alt="" style="height: 100%; object-fit: cover;">
                                </div>
                                <div class="whates-caption whates-caption2">

                                    <h4><a
                                            href="/tottenham-thang-brighton-gay-tranh-cai-a31.html">Tottenh<span
                                                class="highlight">a</span>m thắng Brighton gây
                                            tr<span class="highlight">a</span>nh cãi</a></h4>
                                    <span>by Admin - Apr 10, 2023</span>
                                    <p>
                                    <p>Son Heung-min v&agrave; Harry Kane c&ugrave;ng ghi
                                        b&agrave;n, nhưng trọng t&agrave;i Stuart Attwell
                                        l&agrave; t&acirc;m điểm trận đấu khi &ocirc;…</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-6 col-lg-6 col-md-6">
                            <div class="whats-news-single mb-40 mb-40">
                                <div class="whates-img" style="height: 200px;">
                                    <img src="home/assets/img/article/21a85e8f-68a4-48b8-b8fc-f2034f20d6cc.jpg"
                                        alt="" style="height: 100%; object-fit: cover;">
                                </div>
                                <div class="whates-caption whates-caption2">

                                    <h4><a
                                            href="/hlv-doi-thu-thua-nhan-djokovic-vo-doi-a30.html">HLV
                                            đối thủ thừ<span class="highlight">a</span> nhận
                                            Djokovic vô đối</a></h4>
                                    <span>by Admin - Apr 10, 2023</span>
                                    <p>
                                    <p>Theo Stine - người c&ograve;n từng dẫn dắt cựu số một thế
                                        giới Jim Courier, Djokovic trội hơn Rafael Nadal ở thời
                                        điểm n&agrave;y. &Ocirc;ng n&oac…</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-6 col-lg-6 col-md-6">
                            <div class="whats-news-single mb-40 mb-40">
                                <div class="whates-img" style="height: 200px;">
                                    <img src="home/assets/img/article/e2416f5b-0a89-4e0e-a96a-e3cb9aa2d910.jpg"
                                        alt="" style="height: 100%; object-fit: cover;">
                                </div>
                                <div class="whates-caption whates-caption2">

                                    <h4><a
                                            href="/liverpool-hoa-arsenal-du-bi-dan-hai-ban-a29.html">Liverpool
                                            hoà Arsen<span class="highlight">a</span>l dù bị dẫn
                                            h<span class="highlight">a</span>i bàn</a></h4>
                                    <span>by Admin - Apr 10, 2023</span>
                                    <p>
                                    <p>Cựu hậu vệ Micah Richards n&oacute;i rằng đ&acirc;y
                                        l&agrave; trận cầu hay bậc nhất anh từng xem, v&agrave;
                                        truyền th&ocirc;ng Anh cũng chung quan…</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-6 col-lg-6 col-md-6">
                            <div class="whats-news-single mb-40 mb-40">
                                <div class="whates-img" style="height: 200px;">
                                    <img src="home/assets/img/article/5027e550-e765-4a21-9b04-23dca9b303da.jpg"
                                        alt="" style="height: 100%; object-fit: cover;">
                                </div>
                                <div class="whates-caption whates-caption2">

                                    <h4><a
                                            href="/ronaldo-khong-bat-tay-hlv-al-nassr-sau-tran-hoa-a28.html">Ron<span
                                                class="highlight">a</span>ldo không bắt t<span
                                                class="highlight">a</span>y HLV Al N<span
                                                class="highlight">a</span>ssr s<span
                                                class="highlight">a</span>u trận hoà</a></h4>
                                    <span>by Admin - Apr 10, 2023</span>
                                    <p>
                                    <p>Đội trưởng Cristiano Ronaldo c&atilde;i nhau với đối thủ,
                                        rồi đi thẳng v&agrave;o đường hầm m&agrave; kh&ocirc;ng
                                        bắt tay HLV Rudi Garcia, khi Al …</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-6 col-lg-6 col-md-6">
                            <div class="whats-news-single mb-40 mb-40">
                                <div class="whates-img" style="height: 200px;">
                                    <img src="home/assets/img/article/d28fe22e-d9ce-4d93-b6cc-6c079f708d40.jpg"
                                        alt="" style="height: 100%; object-fit: cover;">
                                </div>
                                <div class="whates-caption whates-caption2">

                                    <h4><a
                                            href="/chieu-lua-sau-rieng-gia-re-35000-dong-mot-kg-a27.html">Chiêu
                                            lừ<span class="highlight">a</span> 'sầu riêng giá rẻ
                                            35.000 đồng một kg'</a></h4>
                                    <span>by Admin - Apr 10, 2023</span>
                                    <p>
                                    <p>Tương tự, tại fanpage "Vựa Tr&aacute;i C&acirc;y Tuấn Anh
                                        (Bến Tre)", ngo&agrave;i đảm bảo mua số lượng "bao
                                        nhi&ecirc;u cũng c&oacute;", họ c&ogr…</p>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <!-- End Nav Card -->
        </div>
    </div>
</div>

<!--Start pagination -->
<div class="pagination-area  gray-bg pb-45 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="single-wrap">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-start">




                            <li class="page-item active"><a class="page-link" href="#">1</a>
                            </li>



                            <li class="page-item"><a class="page-link"
                                    href="/search.html?keyword=a&page=2">2</a></li>



                            <li class="page-item"><a class="page-link"
                                    href="/search.html?keyword=a&page=3">3</a></li>



                            <li class="page-item"><a class="page-link"
                                    href="/search.html?keyword=a&page=4">4</a></li>




                            <li class="page-item">
                                <a class="page-link" href="/search.html?keyword=a&page=2">
                                    <!-- SVG iocn -->
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink" width="40px"
                                        height="15px">
                                        <path fill-rule="evenodd" fill="rgb(255, 11, 11)"
                                            d="M31.112,13.118 L32.281,14.136 L39.127,7.646 L39.127,6.624 L32.281,0.132 L31.167,1.154 L36.571,6.413 L0.491,6.413 L0.491,7.857 L36.571,7.857 L31.112,13.118 Z" />
                                    </svg>
                                </a>
                            </li>

                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End pagination  -->

{% endblock %}