{% load static %}
<aside class="single_sidebar_widget post_category_widget">
    <h4 class="widget_title">Danh Mục</h4>
    <ul class="list cat-list">
        {% for item in items_catagory_sidebar_menu %}
            <li>
                <a href="{{ item.get_absolute_url }}" class="d-flex">
                    <p {% if item_catagory.name == item.name %} class="text-primary" {% endif %}>{{ item.name }}({{item.num_artical}})</p>
                </a>
            </li>
        {% endfor %}
       
    </ul>
</aside>