{% load static %}
<aside class="single_sidebar_widget post_category_widget">
    <h4 class="widget_title mb-2" style="margin-bottom: 0 !important;">Giá Vàng</h4>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Loại vàng</th>
                <th scope="col">Mua</th>
                <th scope="col">Bán</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>Vàng SJC 1L - 10L</td>
                <td>66.500</td>
                <td>67.100</td>
            </tr>

            <tr>
                <td>Vàng nhẫn SJC 99,99 1 chỉ, 2 chỉ, 5 chỉ</td>
                <td>56.100</td>
                <td>57.100</td>
            </tr>

            <tr>
                <td>Vàng nhẫn SJC 99,99 0,5 chỉ</td>
                <td>56.100</td>
                <td>57.200</td>
            </tr>

            <tr>
                <td>Vàng nữ trang 99,99%</td>
                <td>55.900</td>
                <td>56.700</td>
            </tr>

            <tr>
                <td>Vàng nữ trang 99%</td>
                <td>54.839</td>
                <td>56.139</td>
            </tr>

        </tbody>
    </table>
</aside>