{% load static %}
<aside class="single_sidebar_widget post_category_widget">
    <h4 class="widget_title">Tin Tổng Hợp</h4>
    <ul class="list cat-list">

        <li>
            <a href="/tin-tuc-tong-hop-vnexpress.html">
                <p>Vnexpress</p>
            </a>
        </li>

        <li>
            <a href="/tin-tuc-tong-hop-thanh-nien.html">
                <p>Thanh Niên</p>
            </a>
        </li>

        <li>
            <a href="/tin-tuc-tong-hop-bao-tin-tuc.html">
                <p>Báo Tin Tức</p>
            </a>
        </li>

    </ul>
</aside>